@layer layout {
    header {
        padding: 1rem;
        border-bottom: solid 10px var(--color-gray-90);

        .section {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    .home-link {
        display: flex;
        flex-grow: 1;
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;

        &:after {
            content: '';
            position: relative;
            top: -2px;
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-left: 10px;
            background: url(/blog/img/logo.png) 0 0 / cover;

            @media (prefers-color-scheme: dark) {
                filter: invert(1);
            }

        }
    }
}
