@layer module {
    .postlist {
        padding: 0;
        padding-left: 1.5rem;
        list-style-type: decimal-leading-zero;
    }

    .postlist-item {
        margin-bottom: 1rem;
    }

    .postlist-date,
    .postlist-item::marker {
        font-size: 0.8125rem; /* 13px /16 */
        color: var(--color-gray-90);
    }

    .postlist-date {
        padding-left: .25rem;
        word-spacing: -0.5px;
    }

    .postlist-link {
        font-size: 1.1875rem; /* 19px /16 */
        font-weight: 700;
        padding-left: .25rem;
        text-underline-position: from-font;
        text-underline-offset: 0;
        text-decoration-thickness: 1px;

        &:visited {
            color: var(--text-color-link-visited);
        }
    }

    .postlist-item-active .postlist-link {
        font-weight: bold;
    }
}
