@layer module {
    .postlist {
        position: relative;
        padding: 0;
        list-style-type: none;

        @media screen and (min-width: 480px) {
            padding-left: 4.8rem;
        }
    }

    .postlist-item {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
        padding-left: 0;

        @media screen and (min-width: 480px) {
            display: list-item;
            padding-left: 1rem;
        }

        &::before {
            content: attr(data-date);
            display: block;
            font-size: 0.8125rem; /* 13px /16 */
            color: var(--text-color);

            @media screen and (min-width: 480px) {
                position: absolute;
                left: 0;
                margin-top: 2px;
            }
        }
    }

    .postlist-date {
        margin-left: 1rem;
        word-spacing: -0.5px;
    }

    .postlist-link {
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;

        &:visited {
            color: var(--text-color-link-visited);
        }
    }

    .postlist-item-active .postlist-link {
        font-weight: 600;
    }
}
