/* Defaults */
:root {
	--font-family: Rubik, -apple-system, system-ui, sans-serif;
    --font-family-title: "Fjalla One", sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-10: #ecebe8;
	--color-gray-20: #e0e0e0;
	--color-gray-50: #868686;
	--color-gray-90: #222;
	--color-gray-95: #15202b;
    --color-blue-accent: #4974c4;
    --color-blue-bright: #88bfec;
	--bg-color: light-dark(var(--color-gray-10), var(--color-gray-95));
	--bg-color-inverted: light-dark(var(--color-gray-95), var(--color-gray-10));
	--text-color: light-dark(var(--color-gray-90), var(--color-gray-20));
	--text-color-inverted: light-dark(var(--color-gray-20), var(--color-gray-90));
	--text-color-link: var(--text-color);
	--text-color-link-active: light-dark(var(--color-blue-accent), var(--color-blue-bright));
	--text-color-link-visited: light-dark(#888, #a6a6f8);
	--syntax-tab-size: 2;
    /* Opt-in the whole page to interpolate sizes to/from keywords */
    interpolate-size: allow-keywords;
    /* Theme color schema */
    color-scheme: light dark;
}
