@layer layout {
    footer {
        margin-top: 3rem;
        font-size: 0.8rem;
        text-align: center;
        border-top: dashed 4px var(--bg-color-inverted);

        p {
            margin: 0;

            & > * {
                @media screen and (max-width: 480px) {
                    display: block;
                }
            }
        }
    }

    .footer-sep {
        margin-inline: 0.5rem;
    }
}
