@layer layout {
    header {
        padding: 1rem;
        background-color: var(--bg-color-inverted);
        border-bottom: 4px dashed var(--bg-color);

        a[href] {
            --text-color-link: light-dark(var(--color-white), var(--color-gray-90));
            --text-color-link-active: light-dark(var(--color-blue-bright), var(--color-blue-accent));
            text-decoration: none;
        }

        .section {
            @media screen and (min-width: 480px) {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .home-link {
        display: inline-flex;
        font-size: 1.2rem;
        font-weight: 700;

        img {
            position: relative;
            top: -2px;
            margin-left: 10px;
        }
    }
}
