@layer layout {
    /* Global stylesheet */
    * {
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: var(--font-family);
        color: var(--text-color);
        background-color: var(--bg-color);
    }

    html {
        overflow-y: scroll;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    /* Fluid images via https://www.zachleat.com/web/fluid-images/ */
    img {
        max-width: 100%;
    }

    img[width][height] {
        height: auto;
    }

    img[src$=".svg"] {
        width: 100%;
        height: auto;
        max-width: none;
    }

    video,
    iframe {
        width: 100%;
        height: auto;
    }

    iframe {
        aspect-ratio: 16/9;
    }

    p:last-child {
        margin-bottom: 0;
    }

    p {
        line-height: 1.5;
    }

    li {
        margin-bottom: 0.5rem;
        line-height: 1.5;
    }

    a[href] {
        color: var(--text-color-link);
        text-underline-position: from-font;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
        transition: color 0.15s, text-decoration-color 0.15s linear;
    }

    a[href]:hover,
    a[href]:focus {
        text-decoration-color: inherit;
    }

    a[href]:hover,
    a[href]:focus,
    a[href]:active {
        color: var(--text-color-link-active);
    }

    a.nounderline[href]:not(:hover, :focus) {
        text-decoration-color: transparent;
    }

    main,
    footer {
        padding: 1rem;
    }

    main {
        flex: 1;
        padding-top: 2rem;
    }

    main :where(:first-child) {
        margin-top: 0;
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-family-title);
        font-weight: 500;
    }

    h1 {
        text-shadow: 5px 5px color-mix(in srgb, var(--text-color) 20%, transparent);
    }

    h2 {
        text-shadow: 3px 3px color-mix(in srgb, var(--text-color) 20%, transparent);
    }

    h2:where(:not(:first-child)),
    h3:where(:not(:first-child)) {
        margin-top: 2rem;
    }

    table {
        margin: 1rem 0;
    }

    table td,
    table th {
        padding-right: 1rem;
    }

    pre,
    code {
        font-family: var(--font-family-monospace);
    }

    pre:not([class*="language-"]) {
        margin: .5rem 0;
        line-height: 1.375;
        /* 22px /16 */
        -moz-tab-size: var(--syntax-tab-size);
        -o-tab-size: var(--syntax-tab-size);
        tab-size: var(--syntax-tab-size);
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        overflow-x: auto;
    }

    code {
        word-break: break-all;
    }

    .section {
        max-width: 40rem;
        margin: 0 auto;
    }

    /* Tags */
    .post-tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;

        &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 6px;
            background: url(/blog/img/tag.svg) 0 0 / cover;
        }
    }
}
