@layer page {
    .links-nextprev {
        list-style: "";
        border-top: 1px dashed var(--color-gray-90);
        margin-top: 4rem;
        padding: 1rem 0 0;
        font-size: 0.75rem;

        @media screen and (min-width: 480px) {
            display: flex;
            justify-content: space-between;
            gap: .5rem 1rem;
        }

        & > * {
            flex-grow: 1;
        }
    }

    .link-prev,
    .link-next {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .link-next {
        justify-content: flex-end;
    }

    .link-arrow {
        font-size: 1rem;
    }

    p img {
        display: block;
        margin-inline: auto;
    }

    blockquote {
        margin: 2rem 0;
        padding-inline: 2rem 1rem;
        font-style: italic;
        border-left: solid 5px var(--color-gray-50);
    }

    /* Metadata list */
    .post-metadata {
        display: inline-flex;
        flex-wrap: wrap;
        column-gap: .5rem;
        list-style: none;
        padding: 0;
        margin-top: 0;
        font-size: 0.75rem;

        & li:first-child,
        & li:nth-last-child(2) {
            margin-right: 1rem;
        }
    }

    h1 {
        margin-block: 1rem 3rem;
        /*
        Make the element participate in a separate view transition from the root view transition.
        See main.js.
        */
        view-transition-name: title;
    }

    /* h2:is([id]) {
        display: inline-block;
        margin-top: 0;

        &:hover::after {
            content: ' #';
        }
    } */
}

/* Syntax Highlighting Plugin */
body code[class*="language-"],
body pre[class*="language-"] {
    font-family: var(--font-family-monospace);
    font-size: 0.8rem;
}
