.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
    font-size: 0.75rem;
}

.links-nextprev > * {
	flex-grow: 1;
}

.links-nextprev-next {
	text-align: right;
}

p img {
    display: block;
    margin-inline: auto;
}

blockquote {
    margin: 2rem 0;
    padding-inline: 2rem 1rem;
    font-style: italic;
    border-left: solid 5px var(--color-gray-50);
}
