/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html[style*="dark"] {
    .invert-dark,
    .invert-dark-b::before {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: dark) {
    .invert-dark,
    .invert-dark-b::before {
        filter: invert(1);
    }
}

@media screen and (max-width: 480px) {
    .hidden-sm {
        display: none;
    }
}

/* Page view transitions */

@view-transition {
    navigation: auto;
    types: slide, forwards;
}

header {
    view-transition-name: header;
}

footer {
    view-transition-name: footer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-forwards-in {
    from {
        transform: translateY(30px);
    }
}

@keyframes slide-forwards-out {
    to {
        transform: translateY(-30px);
    }
}

@keyframes slide-backwards-in {
    from {
        transform: translateY(-30px);
    }
}

@keyframes slide-backwards-out {
    to {
        transform: translateY(30px);
    }
}

html:active-view-transition-type(backwards) {
    &::view-transition-old(root) {
        /* Material Design's shared axis transition */
        animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-backwards-out;
    }

    &::view-transition-new(root) {
        animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-backwards-int;
    }
}

&::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-forwards-out;
}

&::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-forwards-in;
}
