---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
{%- css %}{% include "public/css/post.css" %}{% endcss %}

<article itemscope itemtype="https://schema.org/Article">
    <h1 itemprop="headline">{{ title }}</h1>

    <ul class="post-metadata">
        <li><time itemprop="datePublished" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
        {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li><a href="{{ tagUrl }}" class="post-tag invert-dark-b nounderline">{{ tag }}</a></li>
        {%- endfor %}
        <li title="Reading time">⧖ {{ content | readingTime }}m read</li>
        <li><a href="/" class="nounderline" title="Navigate back to the index page">⇧</a></li>
    </ul>

    {{ content | safe }}
</article>

{%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
        <ul class="links-nextprev">
            {%- if previousPost %}
                <li class="link-prev">
                    <span class="link-arrow">←</span> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
                </li>
            {% endif %}
            {%- if nextPost %}
                <li class="link-next">
                    <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> <span class="link-arrow">→</span>
                </li>
            {% endif %}
        </ul>
    {%- endif %}
{%- endif %}
